# simple-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
  labels:
    app: my-app
spec:
  replicas: 3  # จำนวน Pods ที่ต้องการ
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-container
        image: my-app:1.0  # Image ของแอปพลิเคชันที่ต้องการใช้
        ports:
        - containerPort: 80  # พอร์ตที่คอนเทนเนอร์จะเปิดให้บริการ